* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
}
.hide {
  display: none;
}
.wrapper {
  background-color: #ffffff;
  width: 90%;
  max-width: 27.25em;
  padding: 3.12em 5em;
  /* margin-top: 25%; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  border-radius: 0.5em;
  border-color: #ED7458;
  border-width: 0.6em;
  border-style: solid;
}
.total_wrapper {
  position: absolute;
  top:10%;
  width: 100%;
  height: 100%;
  padding-bottom: 5%;
  background-color: #DDC9BC;
  background-image: url("cat.png");
  background-size: 20%;
}
.title {
  background-color: #ffffff;
  width: 100%;
  height: 10%;
  padding-top: 3%;
  position: absolute;
  text-align: center;
  border-bottom: 0.5em solid #ED7458;
}
.timer-display {
  font-size: 2.18em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 139, 253, 0.25);
  padding: 10px 30px;
  font-family: "Roboto Mono", monospace;
}
.input_block {
  text-align: center;
}
.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  margin-top: 2em;
}
.inputs input {
  width: 2.8em;
  font-size: 1.3em;
  border: 1px solid #000000;
  border-radius: 0.1em;
  padding: 0.4em 0.2em;
}
#set {
  background-color: #DDC9BC;
  border: none;
  padding: 1em 2.2em;
  display: block;
  margin: 1.5em auto 0 auto;
  border-radius: 0.2em;
  color: #ffffff;
}
.alarm {
  display: grid;
  grid-template-columns: 8fr 2fr 2fr;
  gap: 1em;
  margin-top: 1.5em;
  align-items: center;
  border-bottom: 1px solid #ED7458;
  padding-bottom: 0.6em;
}
.alarm input[type="checkbox"] {
  appearance: none;
  height: 2em;
  width: 3.75em;
  background-color: #e2e2ec;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
  outline: none;
}
.alarm input[type="checkbox"]:before {
  position: absolute;
  content: "";
  background-color: #ED7458;
  height: 1.43em;
  width: 1.43em;
  border-radius: 50%;
  top: 0.25em;
  left: 0.25em;
}
.alarm input[type="checkbox"]:checked {
  background-color: #d2e2ff;
}
.alarm input[type="checkbox"]:checked:before {
  background-color: #DDC9BC;
  left: 2em;
}
.deleteButton {
  background-color: transparent;
  font-size: 1.5em;
  color: #DDC9BC;
  border: none;
  cursor: pointer;
  /* left: -20px; */
}
.info_wrapper {
  background-color: #ffffff;
  width: 90%;
  max-width: 35em;
  padding: 3.12em 5em;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border-radius: 0.5em;
  text-align: center;
  border-color: #ED7458;
  border-width: 0.6em;
  border-style: solid;
}

.cam_wrapper {
  position:fixed;
  background-color: #ffffff;
  width: 8.5em;
  height: 27em;
  top:30%;
  right: 0em;
  border-radius: 0.5em;
  text-align: left;
  border-color: #ED7458;
  border-width: 0.6em;
  border-style: solid;
  display: flex;
  flex-direction: column;
  justify-content: center;  
  padding: 1px;
}

.feed_immediately {
  margin-left: 0.3em;
}
#imm_feed_btn {
  margin-top: 0.2em;
  width: 8em;
  height: 1.6em;
  background-color: #DDC9BC;
  border: none;
  color: #ffffff;
}
#imm_feed_input {
  width: 8em;
  text-align: center;
}
